<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>all</title>

 
</head>
<body>
    <h1>All student data</h1>
    {% if students %}
        <h1>student List:</h1>
        <ul>
            {% for student in students %}
            <li>{{student.name}} - {{student.email}} - {{student.city}} - {{student.roll}} - {{student.state}} - {{student.comment}}</li>
            {% endfor %}
        </ur>


    {% else %}
        <h1>No Data</h1>
    {% endif %}
</body>
</html>