{% extends "book/base.html" %}

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">

      <div class="card shadow-sm border-0 rounded-3">
        <div class="card-body">
          <h3 class="card-title text-center mb-4">Return Book</h3>

          <form method="post">
            {% csrf_token %}
            
            {{ form.as_p }}
            
            <button type="submit" class="btn btn-primary w-100 mt-3">
              Return Book
            </button>
            {{text}}
          </form>
        </div>
      </div>

    </div>
  </div>
</div>
{% endblock %}
