<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registration</title>
  <style>
    .custom-error-css{
      color:red
    }
    .errorlist{
      color:blue
    }
  </style>
</head>
<body>
    <h1>Student Registration</h1>

    {% comment %} <form action="" method="post" novalidate>
      {% csrf_token %}
      {{form.as_p}}
    <input type="submit" value="Submit">
    </form> {% endcomment %}




    {% comment %} <form action="" method="post" novalidate>
      {% csrf_token %}
      {%for field in form %}
      <div>
        {{field.label_tag}} {{field}} <span class="custom-error-css">{{field.errors|striptags}}</span>
      </div>
      {% endfor %}
    <input type="submit" value="Submit">
    </form> {% endcomment %}




    {% comment %} <form action="" method="post" novalidate>
      {% csrf_token %}
      {{ form.non_field_errors }}
      {% for field in form %}
      <div>
        {{field.label_tag}} {{field}} 
        {% for error in field.errors %}
            <span class="custom-error-css">{{error}}</span>
      {% endfor %}
      </div>
      {% endfor %}
    <input type="submit" value="Submit">
    </form> {% endcomment %}





    <form action="" method="post" novalidate>
      {% csrf_token %}
      {{form.as_p}}
      <input type="submit" value="Submit">
    </form>



    {% comment %} <form action="">
      <table>
        {{form.as_table}}
      </table>
    <input type="submit" value="Submit">
    </form> {% endcomment %}


    {% comment %} <form action="">
      <ul>
        {{form.as_ul}}
      </ul>
    <input type="submit" value="Submit">
    </form> {% endcomment %}


    {% comment %} <form action="">
        {{form.as_p}}
    <input type="submit" value="Submit">
    </form> {% endcomment %}


    {% comment %} <form action="">
        {{form.first_name}}
        {{form.last_name}}
    <input type="submit" value="Submit">
    </form> {% endcomment %}

</body>
</html>